<%- include('partials/header') %>
<%- include("partials/navBar")%>
<h2 class="pageHeading">Create a new Invitation</h2>
<%if(colorValue==""){%>
  <form action="/submit/invitationStyle" method="post">
    <input type="hidden" name="filename" value="<%=filename%>">

    <div class="radioBox">
      <p class="center submitElement">Choose the font color:<br>(choose a lighter color for better effect)</p>
      <input required type="color" name="colorValue" class="colorInput" id="colorValue"><br><br>
      <p class="center submitElement">Font Type:<br>(Applies for template=none)</p>
      <select name="fontValue" class="selectMenu" required>
        <option class="options" value="0" selected>Roboto</option>
        <option value="1">Kelly Slab</option>
        <option value="2">Righteous</option>
        <option value="3">Lobster Two</option>
        <option value="4">Dancing Script</option>
        <option value="5">Bungee</option>
        <option value="6">Michroma</option>
        <option value="7">Satisfy</option>
        <option value="8">Shojumaru</option>
        <option value="9">Sriracha</option>

      </select><br><br>
      <p class="center submitElement">Number of users to be invited:</p>
      <input required type="number" min="1" name="numberOfUsers" id="numberOfUsers" class="numberInput" ><br>
      <p class="center submitElement">Choose template:</p><br>
      <select name="template" class="selectMenu">
        <option value="0" selected>None</option>
        <option value="1">Wedding</option>
        <option value="2">Birthday</option>
        <option value="3">Funeral</option>
      </select><br><br>
      <button type="submit" name="applyStyle" class="dashButtons">Next Step</button>
    </div><br>

  </form>
<%}else if(colorValue=="-1"){%>
  <form action="/submit/uploadImage" method="post" enctype="multipart/form-data">
    <div style="text-align: center;" class="fileBox">
      <input type="file" name="file" class="fileUpload"><br>
      <button type="submit" name="uploadImage" class="dashButtons">Upload Image</button>
    </div>
  </form>

<%}else{%>
  <div class="imageBox">
    <%if(files){%>
      <%files.forEach(function(file){%>
        <img src="/submit/image/<%=file.filename%>" alt="Uploaded image for invitation" id="uploadImage"><br>
      <%});%>
    <%}%>
  </div>
  <form action="/submit/createInvitation" method="POST">
    <input type="hidden" name="filename" value="<%=files[0].filename%>">
    <div class="imageInput">
      <input type="radio" name="objectFit" value="cover" id="objectFit1" required>
      <p>Object-Fit: Cover</p>
      <input type="radio" id="objectFit2" name="objectFit" value="fill" required>
      <p>Object-Fit: Fill</p><br>
    </div>

    <div class="formBox">
      <%if(template=="0"){%>
        <p>Event Date:</p><br>
        <input type="datetime-local" name="date" id="eventDate" required><br>
        <p>Deadline:</p><br>
        <input type="date" name="deadline" id="deadline" required><br><br>
        <input type="text" autocomplete="off" class="header" name="header" placeholder="Header" style="color:<%=colorValue%>;font-family:<%=fontValue%>" autocomplete="off" required><br><br>
        <textarea autocomplete="off" name="body" class="body" rows="8" cols="80" placeholder="Body" class="" style="color:<%=colorValue%>;font-family:<%=fontValue%>" autocomplete="off" required></textarea autocomplete="off"><br><br>
        <input type="text" autocomplete="off" class="footer" name="footer" placeholder="Footer" style="color:<%=colorValue%>;font-family:<%=fontValue%>" autocomplete="off" required><br><br>

      <%}else if(template=="1"){%>
        <p>Wedding Date:</p><br>
        <input type="datetime-local" name="date" id="eventDate" required><br>
        <p>Deadline:</p><br>
        <input type="date"  name="deadline" id="deadline" required><br><br>
        <input type="text" autocomplete="off" class="header" name="name" placeholder="Bride Name" required><br><br>
        <input type="text" autocomplete="off" class="header" name="name2" placeholder="Bridegroom Name" required><br><br>
        <textarea autocomplete="off" name="address" class="body" rows="4" cols="80" placeholder="Address of the Wedding" required></textarea autocomplete="off"><br><br>
        <textarea autocomplete="off" name="otherDetails" class="body" rows="4" cols="80" placeholder="Other Details" required></textarea autocomplete="off"><br><br>

      <%}else if(template=="2"){%>
        <p>Birthday Date:</p><br>
        <input type="datetime-local" name="date" id="eventDate" required><br>
        <p>Deadline:</p><br>
        <input type="date" name="deadline" id="deadline" required><br><br>
        <input type="text" autocomplete="off" class="header" name="name" placeholder="Name of Birthday boy/girl" required><br><br>
        <textarea autocomplete="off" name="address" class="body" rows="4" cols="80" placeholder="Address of the Party" required></textarea autocomplete="off"><br><br>
        <textarea autocomplete="off" name="otherDetails" class="body" rows="4" cols="80" placeholder="Other Details" required></textarea autocomplete="off"><br><br>

      <%}else{%>
        <p>Event Date:</p><br>
        <input type="datetime-local" name="date" id="eventDate" required><br>
        <p>Birth Date:</p><br>
        <input type="date" name="date2" required><br>
        <p>Deadline:</p><br>
        <input type="date" name="deadline" id="deadline" required><br><br>
        <input type="text" autocomplete="off" class="header" name="name" placeholder="Name of the person:" required><br><br>
        <textarea autocomplete="off" name="address" class="body" rows="4" cols="80" placeholder="Address of the Event" required></textarea autocomplete="off"><br><br>
        <textarea autocomplete="off" name="otherDetails" class="body" rows="4" cols="80" placeholder="Other Details" required></textarea autocomplete="off"><br><br>

      <%}%>
      <input type="hidden" name="colorValue" value="<%=colorValue%>">
      <input type="hidden" name="numberOfUsers" value="<%numberOfUsers%>">
      <input type="hidden" name="fontValue" value="<%=fontValue%>">
      <input type="hidden" name="template" value="<%=template%>">
      <p>Private Event ?</p>
      <label for="private1">No</label>
      <input type="radio" name="private" value="false" id="private1" required>
      <label for="private2" >Yes</label>
      <input type="radio" name="private" value="true" id="private2" required><br>
      <p>Users to be invited :<br>Note: 1)In case of private event only these users will be allowed.<br>2)This invitation will be sent to all these users (via this web application).<br>3)Make sure these users are registered.</p>
      <%for(var i=0;i<numberOfUsers;i++){%>
        <br>
        <input type="email" class="emailEntry" name="user[]" placeholder="Email of User <%=i+1%>" required autocomplete="off">
      <%}%>
      <br><br>
      <p>Enter list of e-mail to send the invitation (via e-mail)</p>
      <%for(var i=0;i<numberOfUsers;i++){%>
        <br>
        <input type="email" class="emailEntry" name="email[]" placeholder="Email of User <%=i+1%>" required autocomplete="off">
      <%}%>
      <br><br>
      <button type="submit" class="dashButtons">Create Invitation</button>
    </div>

  </form>
<%}%>

<script>
  document.querySelector("#objectFit1").addEventListener("click",(e)=>{
    console.log(e);
    document.querySelector("#uploadImage").style.objectFit="cover";

  });
  document.querySelector("#objectFit2").addEventListener("click",(e)=>{
    console.log(e);
    document.querySelector("#uploadImage").style.objectFit="fill";

  });



</script>

<%- include('partials/footer') %>
